.header {
    &__container {
        background-color: forestgreen;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__logo {
        width: 65%;
        padding: 1rem;
    }
    
    &__search {
        padding-bottom: 1rem;

        &--input {
            border-radius: .3rem;
        }
    }
}